@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #0052cc;
  --secondary: #b3d4ff;
  --primary-button-bg: #0052cc;
  --primary-button-text: #fff;
  --secondary-button-bg: #b3d4ff;
  --secondary-button-text: #0052cc;
  --primary-text: #0052cc;
}
* {
  font-family: "Lexend", sans-serif;
}
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .primary-button {
    @apply bg-primary-button-bg text-primary-button-text py-1 px-3 rounded-md;
  }
  .secondary-button {
    @apply bg-secondary-button-bg text-secondary-button-text py-1 px-3 rounded-md;
  }
}
